<%= form_with(model: current_user.active_relationships.find_by(followed_id: @user.id),
            html: { method: :delete }, local: true) do |f| %>
  <div class="">
  <%= f.submit "アンフォロー", class: "btn btn-secondary"  %>
  </div>  
<% end %>