<div class="text-center">
  <h1><%= @user.nickname %>の<%= @title %></h1>

  <% if @users.any? %>
    <div class="row g-4">
      <%= render @users %>
    </div>
  <% else %>
    <p class="text-center">ユーザーはいません</p>
  <% end %>
</div>