<div class="row">
  <%= render partial: "aside" %>

  <div class="col-md-8 text-center">
    <h2><%= @title %></h2>

    <% if @users.any? %>
      <div class="row g-4">
        <%= render @users %>
      </div>
    <% else %>
      <p class="text-center">ユーザーはいません</p>
    <% end %>
  </div>
</div>