<div class="text-center">
  <h1><%= @user.nickname %>の<%= @title %></h1>

  <% if @users.any? %>
    <ul class="users follow">
      <%= render @users %>
    </ul>
  <% else %>
    <p class="text-center">ユーザーはいません</p>
  <% end %>
</div>