<div class="row rank-page background-white" >
  <% @likes.each.with_index(1) do |post, i| %>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-2">
      <%= render partial: "ranks_common", locals: {post: post, i: i} %>
      <%= render partial: "post_card" , locals: {post: post, size: 150} %>
    </div>
  <% end %>
</div>