<section class="top-page-area">
  <h4>以下の機能はログイン後に利用できます</h4>

  <ul>
    <li>武将のコメント投稿</li>
    <li>ユーザーのフォロー</li>
    <li>武将の登録</li>
  </ul>
  <br>

  <%= link_to new_user_registration_path, class: "btn btn-info" do %>
    <i class="fa-solid fa-user-plus"></i>&nbsp;<span>新規登録</span>
  <% end %>

  <br>
  <%= link_to new_user_session_path, class: "btn btn-info" do %>
    <i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;<span>ログイン</span>
  <% end %>
  
  <br>
  <%= link_to users_guest_sign_in_path, class: "btn btn-info", method: :post do %>
    <i class="fa-solid fa-right-to-bracket"></i></i>&nbsp;<span>ゲストログイン</span>
  <% end %>
</section>