<section class="row rank-page background-white" >
  <h1>いいね数ランキング</h1>
  <% @likes.each.with_index(1) do |post, i| %>
    <%= render partial: "ranks_common", locals: {post: post, i: i} %>
  <% end %>
</section>

<br>

<section class="row rank-page background-white" >
  <h1>コメント数ランキング</h1>
  <% @comments.each.with_index(1) do |post, i| %>
    <%= render partial: "ranks_common", locals: {post: post, i: i} %>
  <% end %>
</section>