/*
 *= require_tree .
 *= require_self
 */

@import 'bootstrap/scss/bootstrap';

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/regular';

div.field_with_errors {
  display: contents;
  input,
  textarea {
    @extend .is-invalid;
  }
}

.base-container {
  @extend .container-fluid;
  max-width: var(--breakpoint-lg);
  padding: 30px 15px;
}

//見出し
h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

h3 {
  margin-bottom: 20px;
}

//カード
.card {
  text-align: center;
  position: relative;
  border-top: 4px solid #b28e5f;
  border-bottom: 4px solid #b28e5f;
  border-left: 2px solid #b28e5f;
  border-right: 2px solid #b28e5f;
  // background-color: #b28e5f1e;
}

.card-title {
  padding: 20px;
  font-size: 20px;
  font-family: serif;
  color: white;
  background: #b28e5f;
}

.card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  height: 72px;
}

.card-show {
  max-width: 600px;
  margin: 5px auto;
}

.card-show-main {
  padding: 0 50px;
  font-size: large;
}

.card-user {
  margin: auto;
}

//カードend

//ボタン
.btn {
  font-family: serif;
  color: white;
}

.btn:hover,
.btn:active {
  color: white !important;
  opacity: 0.6;
}

.btn-show-delete,
.btn-show-delete:hover,
.btn-show-delete:active {
  background-color: #c92121 !important;
  border: solid 1px #991c1c;
  margin-bottom: 10px;
}

.btn-edit,
.btn-edit:hover,
.btn-edit:active {
  background-color: #6a8f36 !important;
  border: solid 1px black;
  margin-bottom: 10px;
}

.btn-index,
.btn-index:hover,
.btn-index:active {
  background-color: #eed3d3 !important;
  border: solid 1px #a92121;
  color: #a92121 !important;
}

.btn-comment-search,
.btn-comment-search:hover,
.btn-comment-search:active {
  background-color: #4163a7 !important;
  border: solid 1px black;
  margin: 10px 0 20px 0;
}

.btn-regist,
.btn-regist:hover,
.btn-regist:active {
  background-color: #4163a7 !important;
  border: solid 1px black;
  width: 100%;
}

.btn-furigana,
.btn-furigana:hover,
.btn-furigana:active {
  background-color: #a9974e;
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: -4px;
  border-radius: 0%;
  margin: 20px 10px 0 10px;
}

.btn-furigana-index {
  margin: auto;
  text-align: center;
}

//ボタンend

//ランキング
.rank-row {
  margin-bottom: 30px;
}

.rank-num {
  text-align: center;
  font-size: 30px;
}

.rank-page {
  margin: 0 170px;
}

//検索フォーム
.form {
  margin-bottom: 20px;
  text-align: center;
}

//コメント
h3 {
  margin-top: 20px;
}

.comment {
  max-width: 600px;
  margin: 5px auto;
}

.comment-content {
  margin-left: 60px;
}

//ユーザー
.user-show {
  margin: auto;
  text-align: center;
  max-width: 350px;
}

//ページネーション
.pagination li a {
  margin-top: 20px;
  // border: solid 1px #b28e5f;
}

//フラッシュ
.alert {
  margin-top: 6px;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

//ユーザ関連

.form-post-user {
  max-width: 350px;
  margin: auto;
}

.form-group {
  margin-bottom: 40px;
}

.form-area {
  height: 100px;
  width: 100%;
}

.form-icon {
  margin: auto;
}

.form-group-login {
  margin-bottom: 10px !important;
}

.check-login {
  text-align: center;
}

.twitter {
  font-size: large;
}

.count-posts {
  font-size: large;
  text-align: center;
}

//ボディ
body {
  padding-top: 50px;
}

//ナビバー
.navbar-sengoku {
  background-color: #991c1c;
  padding-left: 20px;
}

.navbar-image {
  width: 30px;
  height: 24px;
}

// フッター
.footer {
  background-color: #991c1c;
  color: white;
  padding: 3px;
}

//全体
a {
  text-decoration: none;
}
