/*
 *= require_tree .
 *= require_self
 */

@import 'bootstrap/scss/bootstrap';

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/regular';

div.field_with_errors {
  display: contents;
  input,
  textarea {
    @extend .is-invalid;
  }
}

.base-container {
  @extend .container-fluid;
  max-width: var(--breakpoint-lg);
  padding: 30px 15px;
}

//カード
.card {
  text-align: center;
  position: relative;
  border-top: 4px solid #b28e5f;
  border-bottom: 4px solid #b28e5f;
  border-left: 2px solid #b28e5f;
  border-right: 2px solid #b28e5f;
}

.card-title {
  padding: 20px;
  font-size: 20px;
  font-family: serif;
  color: white;
  background: #b28e5f;
}

.card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  height: 72px;
}

.card-show {
  max-width: 600px;
  margin: 5px auto;
}

//カードend

//ボタン
.btn {
  font-family: serif;
  color: white;
}

.btn:hover,
.btn:active {
  color: white !important;
  opacity: 0.6;
}

.btn-show-delete,
.btn-show-delete:hover,
.btn-show-delete:active {
  background-color: #c82020 !important;
  border: solid 1px #991c1c;
  margin-bottom: 10px;
}

.btn-edit,
.btn-edit:hover,
.btn-edit:active {
  background-color: #6a8f36 !important;
  border: solid 1px black;
  margin-bottom: 10px;
}

.btn-index,
.btn-index:hover,
.btn-index:active {
  background-color: #eed3d3 !important;
  border: solid 1px #a92121;
  color: #a92121 !important;
}

.btn-comment-search,
.btn-comment-search:hover,
.btn-comment-search:active {
  background-color: #4163a7 !important;
  border: solid 1px black;
  margin: 10px 0 20px 0;
}

.btn-regist,
.btn-regist:hover,
.btn-regist:active {
  background-color: #4163a7 !important;
  border: solid 1px black;
  width: 100%;
}

.btn-post-show,
.btn-post-show:hover,
.btn-post-show:active {
  background-color: #4163a7 !important;
  border: solid 1px black;
}

.btn-furigana,
.btn-furigana:hover,
.btn-furigana:active {
  background-color: #a9974e;
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: -4px;
  border-radius: 0%;
  margin: 20px 10px 0 10px;
}

.btn-gest,
.btn-gest:hover,
.btn-gest:active {
  background-color: #c92121 !important;
  border: solid 1px #991c1c;
  width: 100%;
}

.btn-unfollow {
  position: relative;
  display: inline-block;
  background-image: linear-gradient(135deg, #dd5e89, #f7bb97); /* 背景のグラデーション */
  border-radius: 30px; /* 角丸をつける */
  width: 200px; /* 横幅 */
  height: 60px; /* 縦幅 */
  line-height: 60px; /* 行の高さ(heightと同じ値にする) */
  text-decoration: none; /* aタグのアンダーラインを消す */
  overflow: hidden; /* はみ出し部分を隠す */
  cursor: pointer; /* カーソルをポインターにする */
}

/* ボタンのテキスト */
.btn__text {
  position: absolute;
  left: 0;
  display: block;
  height: 100%; /* 縦幅をボタンと同じにする */
  width: 100%; /* 横幅をボタンと同じにする */
  color: #fff; /* 文字色 */
  font-size: 16px; /* 文字サイズ */
  font-weight: bold; /* 文字の太さ */
  text-align: center; /* テキストを中央揃え */
  transition: all 0.3s; /* アニメーション実行時間 */
}

/* ボタンのテキスト(デフォルトのテキスト) */
.btn__text:nth-child(1) {
  top: 0;
}

/* ボタンのテキスト(隠れているテキスト) */
.btn__text:nth-child(2) {
  top: -100%;
}

/* ボタンホバーアクション */
.btn:hover .btn__text:nth-child(1) {
  top: 100%;
}

.btn:hover .btn__text:nth-child(2) {
  top: 0;
}
//ボタンend

//ランキング
.rank-page {
  max-width: 1000px;
  margin: auto;
}

.rank-num {
  font-size: 30px;
  font-weight: bold;
  -webkit-text-stroke: 1px #b28e5f;
  text-stroke: 1px #b28e5f;
}

.rank-1 {
  color: gold;
}

.rank-2 {
  color: silver;
}

.rank-3 {
  color: chocolate;
}

//コメント
.comment {
  max-width: 600px;
  margin: 5px auto;
}

.comment-content {
  margin-left: 60px;
}

//ページネーション
.pagination li a {
  margin-top: 20px;
}

//フラッシュ
.alert {
  margin-top: 6px;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

//ユーザ関連
.form-post-user {
  max-width: 350px;
  margin: auto;
}

.form-group {
  margin-bottom: 40px;
}

.form-area {
  height: 100px;
  width: 100%;
}

.form-icon {
  margin: auto;
}

.form-group-login {
  margin-bottom: 10px !important;
}

.user-show {
  max-width: 1000px;
  margin: auto;
}

.follow-btn {
  text-align: right;
  padding: auto;
  margin: auto;
}

//ナビバー
.navbar-sengoku {
  background-color: #991c1c;
  padding-left: 20px;
}

.navbar-image {
  width: 30px;
  height: 24px;
}

//見出し
h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

h3 {
  margin: 20px 0;
}

// フッター
.footer {
  background-color: #991c1c;
  color: white;
  padding: 3px;
}

//全体
a {
  text-decoration: none;
}
