/*
 *= require_tree .
 *= require_self
 */

@import 'bootstrap/scss/bootstrap';

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/regular';

div.field_with_errors {
  display: contents;
  input,
  textarea {
    @extend .is-invalid;
  }
}

.base-container {
  @extend .container-fluid;
  max-width: var(--breakpoint-lg);
  padding: 30px 15px;
  background-color: rgba(0, 0, 0, 0.03);
}

//カード
.card-post {
  text-align: center;
  position: relative;
  border-top: 4px solid #b28e5f;
  border-bottom: 4px solid #b28e5f;
  border-left: 2px solid #b28e5f;
  border-right: 2px solid #b28e5f;
}

.card-post-title {
  padding: 20px;
  font-size: 20px;
  font-family: serif;
  color: white;
  background: #b28e5f;
}

.card-post-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  height: 72px;
}

.card-show {
  max-width: 600px;
  margin: 5px auto;
}

.card-top {
  position: relative;
  border: 2px solid #b28e5f;
}

//カードend

//ボタン
.btn {
  font-family: serif;
  color: white;
}

.btn:hover,
.btn:active {
  color: white !important;
  opacity: 0.6;
}

.btn-show-delete,
.btn-show-delete:hover,
.btn-show-delete:active {
  background-color: #c82020 !important;
  border: solid 1px #991c1c;
  margin-bottom: 10px;
}

.btn-edit,
.btn-edit:hover,
.btn-edit:active {
  background-color: #6a8f36 !important;
  border: solid 1px black;
  margin-bottom: 10px;
}

.btn-index,
.btn-index:hover,
.btn-index:active {
  background-color: #eed3d3 !important;
  border: solid 1px #a92121;
  color: #a92121 !important;
}

.btn-comment-post,
.btn-comment-post:hover,
.btn-comment-post:active {
  background-color: #4163a7 !important;
  border: solid 1px black !important;
}

.btn-regist,
.btn-regist:hover,
.btn-regist:active {
  background-color: #4163a7 !important;
  border: solid 1px black;
  width: 100%;
}

.btn-post-show,
.btn-post-show:hover,
.btn-post-show:active {
  background-color: #4163a7 !important;
  border: solid 1px black;
}

.btn-furigana,
.btn-furigana:hover,
.btn-furigana:active {
  background-color: #a9974e;
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: -4px;
  border-radius: 0%;
  margin: 20px 10px 0 10px;
}

.btn-gest,
.btn-gest:hover,
.btn-gest:active {
  background-color: #c92121 !important;
  border: solid 1px #991c1c;
  width: 100%;
}

.btn-prefecture {
  font-size: large;
  margin: auto;
}

.btn-search,
.btn-search:hover,
.btn-search:active {
  border: solid 1px rgb(206, 212, 218);
  color: rgba(0, 110, 255, 0.917) !important;
}

.btn-unfollow,
.btn-unfollow:hover,
.btn-unfollow:active {
  color: black !important;
  border: solid 2px rgb(206, 212, 218);
  border-radius: 20px;
}

.btn-follow,
.btn-follow:hover,
.btn-follow:active {
  background-color: #c82020 !important;
  border: solid 2px #991c1c;
  border-radius: 20px;
}

.btn-info,
.btn-info:hover,
.btn-info:active {
  background-color: #c82020 !important;
  border: solid 1px #991c1c;
  width: 200px;
  margin-bottom: 15px;
}
//ボタンend

//ページエリア
.prefecture-area,
.card-area {
  max-width: 1200px;
  margin: auto;
  text-align: center !important;
}

//検索フォーム
input[type='search'] {
  width: 300px;
  height: 38px;
  -webkit-appearance: searchfield;
}

//ランキング
.rank-page {
  max-width: 1000px;
  margin: auto;
}

.rank-num {
  font-size: 30px;
  font-weight: bold;
  -webkit-text-stroke: 1px #b28e5f;
  text-stroke: 1px #b28e5f;
}

.rank-1 {
  color: gold;
}

.rank-2 {
  color: silver;
}

.rank-3 {
  color: chocolate;
}

//コメント
.comment {
  max-width: 600px;
  margin: 5px auto;
}

.comment-content {
  margin-left: 60px;
}

//ページネーション
.pagination li a {
  margin-top: 20px;
}

//フラッシュ
.alert {
  margin: auto;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

//ユーザ関連
.form-post-user {
  max-width: 400px;
  margin: auto;
}

.form-group {
  margin-bottom: 40px;
}

.form-area {
  height: 100px;
  width: 100%;
}

.form-icon {
  margin: auto;
}

.form-group-login {
  margin-bottom: 10px !important;
}

.user-show {
  max-width: 1000px;
  margin: auto;
}

.user-show-name {
  margin-left: 8px;
}

//画像
.user-img {
  border-radius: 50%;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.user-img-thumb {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
}

//ボディ
.background-white {
  background-color: white;
  padding: 20px;
}

//トップページ
.background-white-busyou {
  background-color: white;
  max-width: 700px;
  padding: 5px;
  margin: auto;
}

.background-white-regist {
  background-color: white;
  max-width: 550px;
  padding: 5px;
  margin: auto;
}

.top-page-area {
  max-width: 1000px;
  margin: auto;
  text-align: center !important;
}

.top-image {
  text-align: center;
  width: 100%;
  height: 500px;
  object-fit: cover;
  padding-bottom: 20px;
}

.catch-copy {
  position: relative;
}

.catch-copy h2 {
  color: white;
  font-size: 2.5rem !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  margin: 0;
}

.catch-copy img {
  text-align: center;
  width: 100%;
  height: 500px;
  object-fit: cover;
  padding-bottom: 20px;
}

ul {
  margin: auto;
  max-width: 200px;
}

li {
  text-align: left;
}

//ナビバー
.navbar-sengoku {
  background-color: #991c1c;
  padding-left: 20px;
}

.navbar-image {
  width: 30px;
  height: 20px;
}

//見出し
h1,
h2,
h3 {
  text-align: center;
  margin-bottom: 20px;
}

// フッター
.footer {
  background-color: #991c1c;
  color: white;
  padding: 3px;
}

//全体
a {
  text-decoration: none;
}
